:root{
    --primary_color: #214ECF;
    --black: #1A1A1A;
    --white: #FFFFFF;
    --grey: #F7F7F7;
    --font-family: "Inter", sans-serif;
}
body{
    background-image: url(https://cdn.shopify.com/s/files/1/0962/3794/5196/files/page_bg_lines.svg?v=1766044402)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    font-family: var(--font-family)!important;
    color: var(--black);
    background-attachment: fixed;
}

ul.list-menu.list-menu--inline {
    background: #f4f4f4;
    border-radius: 100px;
    padding: 9px 12px 9px 33px;
    display: flex;
    align-items: center;
    gap: 48px;
}
.header__menu-item {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: #1E1E1E;
    letter-spacing: -0.84px;
}
a#HeaderMenu-shop {
    background: #214ECF;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    height: 40px;
    border-radius: 100px;
}
.theme_btn {
    padding: 14px 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.8px;
    text-decoration: unset;
    background: var(--primary_color);
    color: var(--white);
    display: inline-block;
    border-radius: 6px;
}