:root{
    --primary_color: #214ECF;
    --black: #1A1A1A;
    --white: #FFFFFF;
    --grey: #F7F7F7;
    --font-family: "Inter", sans-serif;
}
body{
    background-image: url(https://cdn.shopify.com/s/files/1/0962/3794/5196/files/page_bg_lines.svg?v=1766044402)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    font-family: var(--font-family)!important;
}

ul.list-menu.list-menu--inline {
    background: #f4f4f4;
    border-radius: 100px;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    gap: 48px;
}
.header__menu-item {
    padding: 0px;
}